nav {
	padding: 1rem;
	background-color: var(--clr-secondary);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

.main {
	margin-top: 2em;
}

.main__header {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
}

.hr {
   margin-top: 10px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
